@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Popins",sans-serif;
  box-sizing: border-box;
}

.reference{
  padding: 70px 0;
  clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);

}

.inner-width{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
}

.reference-1{
  background: #fdfdfd;
  padding: 28px;
  overflow: hidden;
  border-radius: 0 30px;
  box-shadow: 1px -1px 11px 1px rgba(0, 72, 100, 0.51);
  margin: 20px 10px;
  cursor: pointer;
  height: 430px;

}

.test-info{
  display: flex;
  height: 60px;
  align-items: center;
  margin-top: 25px;
}

.test-pic{
  width: 80px !important;
  border-radius: 50%;
  margin-right: 15px;
}

.test-name{
  font-size: 14px;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.test-name span{
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #fd0000;
}

.reference-1 p{
  font-size: 14px;
  line-height: 22px;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
}

 a.web{
color: #333;
  text-decoration:none;
  cursor: pointer;
}

.text{
  height: 70%;
  display: flex;
  align-items: center;
}

.informace{
  height: 30%;
}